@model IEnumerable<ThucHanh.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.datetime.ToString("MM")

                </div>
                <div class="day">
                    @course.datetime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecture.Name
                </span>
                <br />
                <span class="category">
                    @course.Category.Name
                </span>
            </div>
            <div class="action" style=" left: 70px; position: absolute">
                <a href="@Url.Action("Edit","Courses",new { id = course.Id })">Edit</a>
                <a href="#" class="js-cancel-course" data-course-id=@course.Id>Cancel</a>
            </div>
        </li>
    }
</ul>

<script src="~/Scripts/bootbox.min.js"></script>

@*@section scripts
    {
        <script>
            $(document).ready(function () {
                $(".js-cancel-course").click(function (e) {
                    e.preventDefault();
                    var link = $(e.target);
                    //bootbox.confirm("Chắc là xóa chưa ?"),


                    $.ajax({
                        url: "/api/courses/" + link.attr("data-course-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            link.parents("li").fadeOut(function () {
                                $(this).remove();
                            });
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });

                });
            })
        </script>
    }*@

@*@section scripts
    {
        <script>
            $(document).ready(function () {
                $(".js-cancel-course").click(function (e) {
                    e.preventDefault();
                    var link = $(e.target);
                    bootbox.confirm("Chắc là xóa chưa ?",
                        function () {
                            $.ajax({
                                url: "/api/courses/" + link.attr("data-course-id"),
                                method: "DELETE"
                            })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });
                            })
                            .fail(function () {
                                alert("Something failed!");
                            });
                        });
                });
            });
        </script>
    }*@

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("are you sure to cancel?",
                    function () {
                        $.ajax({
                            url: "/api/courses/" + link.attr("data-course-id"),
                            method: "DELETE"
                        })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });

                            })
                            .fail(function () {
                                alert("Something failed!");
                            });

                    });
            });

        });
    </script>
}

